:root {
  --main-color: #212121; /*--title-color*/
  --add-color: #757575; /* --description-color*/
  --accent-color: #2196f3; /*--hover*/
  --bg-color: #2f303a; 
  --text-color: white;
}
body {
    font-family: Roboto;
  }
  .container ul,
  .container {
    display: flex;
  }
  .container ul {
    list-style-type: none;
  }
  .comp-name {
    font-family: Raleway;
    font-size: 26px;
    letter-spacing: 0.78px;
  }
  .comp-name span {
    color: var(--accent-color);
  }
  .container li {
    margin: 15px;
  }
  .nav-link {
    color: var(--main-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition: 0.5s;
    text-decoration: none;
  }
  .nav-link:hover {
    color: var(--accent-color);
  }
  .cont-link {
    color: var(--add-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition: 0.5s;
    text-decoration: none;
  }
  .cont-link:hover {
    color: var(--accent-color);
  }
  /* end of header */
  .hero-button {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 700;
    font-family: Roboto;
    letter-spacing: 0.96px;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    background: var(--accent-color);
  }
  .hero-information {
    color: var(--text-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    text-align: center;
  }
  .hero {
    background-color: var(--bg-color);
    /* height: 600px; */
  }
/* end of first section */
  .advantages-item-title {
    color: var(--main-color);
    font-size: 14px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }
  .advantages-text {
    color: var(--add-color);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
  }
  .advantages-list {
    display: flex;
  }
  .advantages-cell {
    list-style-type: none;
  }
  /* end of second section */
  .job-title {
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.08px;
  }
  .job-list {
    display: flex;
    align-items: center;
    padding: 0 10%;
  }
  .job-cell {
    list-style-type: none;
    margin: 20px;
  }
  /* end of third section */
  .command-names {
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.48px;
  }
  .our-command-title {
      text-align: center;
      font-size: 36px;
      letter-spacing: 1.08px;
  }
  .command-profession {
      color: var(--add-color);
      text-align: center;
      letter-spacing: 0.48px;
  }
  .our-command-list {
      display: flex;
      justify-content: center;
      align-self: center;
  }
  .our-command-cell {
      list-style-type: none;
      border-radius: 0px 0px 4px 4px;
      background: var(--text-color);
      margin: 0 20px;
  }
  .our-command-img {
    width: 250px;
  }
  .our-command {
      /* height: 648px; */
      background-color: #f5f4fa;
      padding-bottom: 95px;
  }
  /* end of penultimate section */
  .footer-information {
      background-color: var(--bg-color);
  }
  .footer-comp-name {
      color: var(--text-color);
      line-height: normal;
  }
  .footer-address a:first-child {
      color: var(--text-color);
      letter-spacing: 0.42px;
  }
  .address-link {
      color: rgba(255, 255, 255, 0.60);
      font-size: 14px;
      font-style: normal;
      line-height: 24px; 
      letter-spacing: 0.42px;
      text-decoration: none;
  }
  .footer-address {
      display: flex;
      flex-direction: column;
  }
  /* end of footer|index styles */
  /* portfolio styles begin */
  
  .projects-select button {
    font-size: 16px;
    letter-spacing: 0.48px;
    border-radius: 4px;
    font-weight: 500;
    background-color: #F5F4FA;
    border-color: #F5F4FA;
    width: 130px;
    height: 38px;
    flex-shrink: 0;
  }
  .projects-select button:hover {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.48px;
    border-radius: 4px;
    background: var(--accent-color);
    border-color: var(--accent-color);
    transition: 0.5s;
    cursor: pointer;
  }
  .projects-select {
    display: flex;
    list-style-type: none;
    justify-content: center;
  }
  .projects-list {
    list-style-type: none;
  }
  .projects-text {
    color: var(--add-color);
    line-height: 30px;
    letter-spacing: 0.48px;
    margin: 0px 24px 20px;
  }
  .projects-title {
    color: var(--main-color);
    font-size: 18px;
    line-height: 36px; 
    letter-spacing: 1.08px;
    margin: 5px 24px 20px;
  }
  .projects-cell {
    border: 1px solid #EEE;
    background: var(--text-color);
    width: 370px;
    height: 404px;
    flex-shrink: 0;
    margin: 0px 30px 30px 215px;
  }