:root {
  --main-color: #212121;
  --add-color: #757575;
  --accent-color: #2196f3; 
  --bg-color: #2f303a; 
  --text-color: white;
}
body {
    font-family: Roboto;
  }
  h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


  .header {
    padding: 25px 0;
  }
  .container {
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
   .header-information, .cont-nav-list,  .container-contact-list {
    display: flex;
    align-items: center;
  }
  .list {
    list-style-type: none;
    margin: 0;
  }
  .comp-name {
    font-family: Raleway;
    font-size: 26px;
    margin: 0;
    margin-right: 92px;
  }
  .comp-name span {
    color: var(--accent-color);
  }
  .cont-nav-list, .container-contact-list {
    display: flex;
    gap: 50px;
  }
  .nav-link {
    color: var(--main-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition: 0.5s;
    text-decoration: none;
  }
  .nav-link:hover {
    color: var(--accent-color);
  }
  .cont-link {
    color: var(--add-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition: 0.5s;
    text-decoration: none;
    align-self: center;
  }
  .cont-link:hover {
    color: var(--accent-color);
  }
  .container-contact-list {
    margin-left: auto;
  }
  /* end of header */
  .hero-button {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 700;
    font-family: Roboto;
    letter-spacing: 0.96px;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    background: var(--accent-color);
    margin: 0 auto;
    display: block;
    margin-top: 45px;
  }
  .hero-information {
    color: var(--text-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
  }
  .hero {
    background-color: var(--bg-color);
    padding: 200px 0;
  }
/* end of first section */
  .advantages {
    padding-top: 94px;
    padding-bottom: 118px;
  }
  .advantages-item-title {
    color: var(--main-color);
    font-size: 14px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }
  .advantages-text {
    color: var(--add-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.42px;
  }
  .advantages-list {
    display: flex;
    gap: 30px;
  }
  .advantages-cell {
    list-style-type: none;
  }
  /* end of second section */
  .job {
    padding-bottom: 94px;
  }
  .job-title {
    color: var(--main-color);
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 60px;
  }
  .job-list {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 30px;
  }
  .job-cell {
    list-style-type: none;
  }
  /* end of third section */
  .our-command {
    padding: 94px 0;
  }
  .command-names {
    color: var(--main-color);
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.48px;
    font-weight: 500;
    margin: 0;
    padding-top: 28px;
  }
  .our-command-title {
      color: var(--main-color);
      text-align: center;
      font-size: 36px;
      letter-spacing: 1.08px;
      margin-bottom: 50px;
  }
  .command-profession {
      color: var(--add-color);
      text-align: center;
      letter-spacing: 0.48px;
      margin: 0;
      padding: 13px 0 30px;
  }
  .our-command-list {
      display: flex;
      justify-content: center;
      gap: 30px;
  }
  .our-command-cell {
      list-style-type: none;
      border-radius: 0px 0px 4px 4px;
      background: var(--text-color);
  }
  .our-command {
      background-color: #f5f4fa;
  }
  /* end of penultimate section */
  .footer-information {
      background-color: var(--bg-color);
      margin: 0 auto;
      padding: 60px 0;
  }
  .footer-comp-name {
      color: var(--text-color);
      line-height: normal;
      margin-bottom: 32px;
  }
  .footer-address a:first-child {
      color: var(--text-color);
      letter-spacing: 0.42px;
  }
  .address-link {
      color: rgba(255, 255, 255, 0.60);
      font-size: 14px;
      font-style: normal;
      line-height: 1.71; 
      letter-spacing: 0.42px;
      text-decoration: none;
      transition: 0.5s;
  }
  .footer-address a:hover {
    color: var(--accent-color);
  }
  .footer-address {
      display: flex;
      flex-direction: column;
      gap: 9px;
  }
  /* end of footer|index styles */
  /* portfolio styles begin */
  .portfolio-projects {
    padding: 94px 0;
  }
  .projects-select button {
    color: var(--main-color);
    font-size: 16px;
    letter-spacing: 0.48px;
    border-radius: 4px;
    font-weight: 500;
    background-color: #F5F4FA;
    border-color: #F5F4FA;
    width: 130px;
    height: 38px;
    flex-shrink: 0;
  }
  .projects-select button:hover {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.48px;
    border-radius: 4px;
    background: var(--accent-color);
    border-color: var(--accent-color);
    transition: 0.5s;
    cursor: pointer;
  }
  .projects-select {
    display: flex;
    gap: 8px;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 50px;
  }
  .projects-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 35px 30px;
  }
  .projects-text {
    color: var(--add-color);
    line-height: 1.87;
    letter-spacing: 0.48px;
    margin: 0px 24px 20px;
  }
  .projects-title {
    color: var(--main-color);
    font-size: 18px;
    line-height: 36px; 
    letter-spacing: 1.08px;
    margin: 5px 24px 20px;
  }
  .projects-list-cell {
    border: 1px solid #EEE;
    background: var(--text-color);
    width: 370px;
    height: 404px;
    flex-shrink: 0;
  }