.advantages {
    padding-top: 94px;
    padding-bottom: 118px;
  }
  .advantages__item-title {
    color: $main-color;
    font-size: 14px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .advantages__list {
    display: flex;
    gap: 30px;
  }
  .advantages__cell {
    list-style-type: none;
    flex-basis: calc((100% - 120px) / 4);
  }
  .advantages__cell::before {
    content: '';
    display: block;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin: 0 auto;
    background-image: url('../images/webstudio_svg1.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }
  .advantages__cell:nth-child(2)::before {
    background-image: url('../images/webstudio_svg2.svg');
  }
  .advantages__cell:nth-child(3)::before {
    background-image: url('../images/webstudio_svg3.svg');
  }
  .advantages__cell:nth-child(4)::before {
    background-image: url('../images/webstudio_svg4.svg');
  }

  .advantages__text {
    color: $add-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 3%;
    text-align: left;
  }

