.advantages {
    padding-top: 94px;
    padding-bottom: 118px;
  }
  .advantages__item-title {
    color: $main-color;
    @include font-styles(14px, 700, 3%, 1.14);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .advantages__list {
    @include flex(30px)
  }
  .advantages__cell {
    list-style-type: none;
    flex-basis: calc((100% - 120px) / 4);
  }

  .advantages__cell::before {
    content: '';
    display: block;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  @for $i from 1 through 4 {
    .advantages__cell:nth-child(#{$i})::before {
      background-image: url(".../images/svg-icon-images/webstudio_svg#{$i}.svg");
    }
  }
  .advantages__text {
    color: $add-color;
    @include font-styles(14px, 400, 3%, 1.71);
    text-align: left;
  }

