
.footer__information {
    background-color: $bg-color;
    margin: 0 auto;
    padding: 60px 0;
}
.footer__information .container {
  @include flex(70px);
}

.footer-address {
  @include flex(9px);
  flex-direction: column;
}

.footer-address__link {
    color: $add-color;
    @include font-styles(14px, 400, 3%, 24px);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
      color: $accent-color;
    }
}
.footer-address__link--color {
  color: $text-color;
  text-decoration: none;
  margin-top: 32px;
}
.footer-soc-box__title {
  color: #FFF;
  @include font-styles(14px, 700, 3%, 16px);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-soc-list {
  @include flex(10px);
  margin-top: 20px;
}  
.footer-soc-list__link {
  background-color: rgba(255, 255, 255, 0.10);
  border-radius: 50%;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover, &:focus {
    background-color: $accent-color;
  }
}
.footer-soc-list__icon {
  fill: white;
}

.newsletter-box__form {
  @include flex(12px);
  margin-top: 20px;
}
.newsletter-box__input {
  color: rgba(255, 255, 255, 0.6);
  @include font-styles(16px, 400, 3%, 20px);
  text-align: left;
  padding: 15px 150px 15px 16px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover, &:focus {
    border-color: $accent-color;
  }
}
.newsletter-box__title {
  color: $text-color;
  @include font-styles(14px, 700, 3%, 16px);
  text-align: left;
  text-transform: uppercase;
}
.newsletter-box__icon {
  fill: $text-color;
}