.header__information, .cont-nav-list,  .container-contact-list {
    display: flex;
    align-items: center;
  }
  .logo {
    font-family: Raleway;
    color: #000;
    font-size: 26px;
    margin: 0;
    margin-right: 92px;
    text-decoration: none;
  }
  .logo span {
    color: var(--accent-color);
  }
  .cont-nav-list, .container-contact-list {
    display: flex;
    gap: 50px;
  }
  .cont-nav-list__link {
    color: var(--main-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    position: relative;
    padding: 25px 0;
    display: block;
  }
  .current::after {
    content: '';
    display: block;
    background-color: var(--accent-color);
    opacity: 0;
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 4px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .current:hover::after {
    opacity: 1;
  }
  .cont-nav-list__link:hover, .cont-nav-list__link:focus{
    color: var(--accent-color);
  }
  .container-contact-list {
    margin-left: auto;
  }
  .container-contact-list__link {
    color: var(--add-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-contact-list__link:hover, .container-contact-list__link:focus {
    color: var(--accent-color);
  }
  .container-contact-list__icon {
    margin-right: 10px;
    fill: var(--add-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .container-contact-list__link:hover .container-contact-list__icon,
   .container-contact-list__link:focus .container-contact-list__icon {
    fill: var(--accent-color);
  }