  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../images/bg_img.jpg);
    background-size: cover;
    background-position: center;
    background-color: $bg-color;
    padding: 200px 0;
  }
  .hero__title {
    color: $text-color;
    @include font-styles(44px, 900, 6%, 60px);
    text-transform: uppercase;
    text-align: center;
  }