
.our-command {
    padding: 60px 0;
    background-color: #f5f4fa;
    @media screen and (min-width: 1200px) {
      padding: 94px 0;
    }
  }
  .our-command__title {
    color: $main-color;
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    @media screen and (min-width:1200px) {
      @include font-styles(36px, 700, 3%, 1.16);
      margin-bottom: 50px;
    }

}
.our-command__list {
  @include flex(30px);
  justify-content: center;
  flex-direction: column;
  @media screen and (min-width:768px) {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.our-command__cell {
  list-style-type: none;
  border-radius: 0px 0px 4px 4px;
  background: $text-color;
  width: 100%;
  
  flex-basis: calc((100% - 90px) / 4);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  @media screen and (min-width:768) {
    flex-basis: calc((100% - 30px) / 2);
  }
}
  .our-command__img {
    background-position: center;
    width: 100%;
  }
  .our-command__wrapper-info {
    padding-top: 30px;
    padding-bottom: 16px;
  }
  .our-command__names {
    color: $main-color;
    text-align: center;
    @include font-styles(16px, 500, 3%, 1.18);
    margin: 0;
  }

  .our-command__profession {
      color: $add-color;
      text-align: center;
      @include font-styles(16px, 400, 3%, 1.18);
      margin: 0;
      margin-top: 13px;
  }
  .worker-soc-list {
    @include flex(10px);
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;
    padding-top: 16px;
    @media screen and (min-width:1200px) {
      padding-bottom: 42px;
    }
  }
  .worker-soc-list__link {
    @include flex(0);
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
      background-color: $accent-color;
    }
  }
  .worker-soc-list__icon {
    fill: $add-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .worker-soc-list__link:hover .worker-soc-list__icon, 
   .worker-soc-list__link:focus .worker-soc-list__icon {
    fill: $text-color;
  }