  .logo {
    font-family: Raleway;
    font-size: 26px;
    margin: 0;
    margin-right: 92px;
    text-decoration: none;
  }
  .header__logo {
    color: #000;
  }
  .footer__logo {
    color: $text-color;
  }
  .logo__accent {
    color: $accent-color;
  }
