.advantages-item-title {
    color: var(--main-color);
    font-size: 14px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .footer-soc-title {
    color: #FFF;
    font-size: 14px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .modal-title {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-color);
    margin-bottom: 12px;
   }
   .clients-title {
    color: var(--main-color);
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.08px;
  }
  .job-title {
    color: var(--main-color);
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 60px;
  }
  .our-command-title {
    color: var(--main-color);
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}
.projects-title {
    color: var(--main-color);
    font-size: 18px;
    line-height: 36px; 
    letter-spacing: 1.08px;

  }